<?xml version="1.0" encoding="utf-8"?>
<Servers>
  <Server name="FDC_TAB" instance="FDC_TAB\DEV_SQL2K12" ip="127.0.0.2" user="dev-admin" password="Password1" backups="D:\Backups\SQL2012">
    <Instance instance="DEV_SQL2K12" port="" user="dev-admin" password="Password1" backups="D:\Backups\SQL2012">
      <Environment name="DEV" data="D:\SQL\Data" log="D:\SQL\Logs">DEV</Environment>
    </Instance>
  </Server>
  <Server name="UK-CHDEVSQL01" ip="10.103.109.45">
    <Instance instance="Default" port="1433" user="qa-cloudadmin" password="Password1" backups="C:\CBS">
      <Environment name="CI" data="E:\SQLData" log="L:\SQLLogs">CI</Environment>
      <Environment name="QA" data="E:\SQLData" log="L:\SQLLogs">QA</Environment>
    </Instance>
  </Server>
  <Server name="BSI16DBS03PRV" ip="10.33.203.33">
    <Instance instance="Default" port="" user="" password="" backups="">
      <Environment name="PPD" data="F:\MSSQL\Data" log="L:\MSSQL\Logs">PPD</Environment>
      <Environment name="PROD" data="F:\MSSQL\Data" log="L:\MSSQL\Logs">PROD</Environment>
    </Instance>
  </Server>
</Servers>